* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

/* utility */

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* /utility */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  justify-content: center;
}

/* header */

/* /header */



/* main */

main {
  width: 70%;
  align-items: center;
}

.logo {
  height: 35%;
}

.container {
  width: 30%;
  height: 50%;
  background-color: aliceblue;
  align-items: center;
  justify-content: space-around;

}

/* /main */



/* footer */

/* /footer */